.table {
  height: 10px;
  width: 10px;
  background-color:red;
  float:left;
}

.end {
  background-color: blue;
  clear: left;
}

#container {
  margin: 10px auto;
  width: 700px;
}

#button {
  margin: auto;
  width: 700px;
}